.note{
    padding: 25px;
    height: 280px;
    width: 260px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    border-radius: 30px;
} 

.note-text {
    flex: 1;
    resize: none;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.875rem;
    outline: none;
    border: none;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
    height: 30px;
    width: 30px;
}

.delete:hover{
    opacity: 1;
}

@media(min-width: 992px){
    
}
@media(max-width: 570px){
    .note {
        padding: 10px;
        height: 200px;
        width: 220px;
    }
}